.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    color: #000;
    text-align: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; background-color: #C2C2C2;}
    .div2 { grid-area: 1 / 2 / 2 / 3; background-color: #C2C2C2;}
    .div3 { grid-area: 1 / 3 / 2 / 4; background-color: #C4C4C4;}
    .div4 { grid-area: 1 / 4 / 2 / 5; background-color: #C2C2C2;}
    .div5 { grid-area: 2 / 1 / 3 / 2; background-color: #C2C2C2;}
    .div6 { grid-area: 2 / 2 / 3 / 3; background-color: #C2C2C2;}
    .div7 { grid-area: 2 / 3 / 3 / 4; background-color: #C2C2C2;}
    .div8 { grid-area: 2 / 4 / 3 / 5; background-color: #C2C2C2;}
    .secondPrimaryRow{ grid-area:  3 / 1 / 4 / 2; background-color: #EFEFEF; margin-top: 5px; color: #000;}
    .div10 { grid-area: 3 / 2 / 4 / 3; background-color: #EFEFEF; margin-top: 5px; color: #000;}
    .div11 { grid-area: 3 / 3 / 4 / 4; background-color: #EFEFEF; margin-top: 5px; color: #000;}
    .div12 { grid-area: 3 / 4 / 4 / 5; background-color: #EFEFEF; margin-top: 5px; color: #000;}
    .div13 { grid-area: 4 / 1 / 5 / 2; background-color: #EFEFEF;}
    .div14 { grid-area: 4 / 2 / 5 / 3; background-color: #EFEFEF;}
    .div15 { grid-area: 4 / 3 / 5 / 4; background-color: #EFEFEF;}
    .div16 { grid-area: 4 / 4 / 5 / 5; background-color: #EFEFEF;}
    .div17 { grid-area: 5 / 1 / 6 / 2; background-color: #C2C2C2;}
    .div18 { grid-area: 5 / 2 / 6 / 3; background-color: #C2C2C2;}
    .div19 { grid-area: 5 / 3 / 6 / 4; background-color: #C2C2C2;}
    .div20 { grid-area: 5 / 4 / 6 / 5; background-color: #C2C2C2;}
    .div21 { grid-area: 6 / 1 / 7 / 2; background-color: #C2C2C2;}
    .div22 { grid-area: 6 / 2 / 7 / 3; background-color: #C2C2C2;}
    .div23 { grid-area: 6 / 3 / 7 / 4; background-color: #C2C2C2;}
    .div24 { grid-area: 6 / 4 / 7 / 5; background-color: #C2C2C2;}

    .rage {
        color: #fff; 
        font-weight: bold; 
        background-color: red; 
        text-align: right; 
        float: right; 
        padding-right: 5px; 
        padding-left: 5px;
    }
